div.jumbotron
    h1 Nike+ Racing
    p Give us your Nike+ details and enter the race!
    input(ng-model='form.apiToken',placeholder="Enter your Nike+ API Token here").form-control#nikeToken
    a(ng-click='submitToken(form);').btn.btn-primary.btn-large Join the Race!