extends layout

block content
    div.container
      div.jumbotron.text-center
        h1
          span
            p Nike+ Racing
        p.fa.fa-lock  Login or Register to take part!
        p
          a(href="/login").btn.btn-success
            span.fa.fa-user   Login

          a(href="/signup").btn.btn-primary.btn-spacer
            span.fa.fa-user   Signup
        p
          a(href="/auth/facebook").btn.btn-primary
            span.fa.fa-facebook  Facebook
          a(href="/auth/twitter").btn.btn-info.btn-spacer
            span.fa.fa-twitter   Twitter

    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/module.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')